extends ../layouts/index
block  contenido
    div(style="padding-top: 10px; padding-bottom: 10px;")
        h1(style="font-size: 1.5rem; margin-top: 2.5rem; margin-bottom: 2.5rem; font-weight: bold; text-align: center;") Bienes
            span(style="font-weight:normal") Raices
        h2.text-center.text-2xl.font-extrabold(style="font-weight: bold;")=pagina

        p.text-xl.font-bold.text-center.my-10=mensaje